@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.first-section{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.first-section h2{
  color: #1E40AF;
  font-size: 3rem;
  font-weight: 700;
}